.bg-vector {
    background-image: url(/public/vector1.png);
    background-repeat: no-repeat;
    transform: scaleX(-1);
}
.bg-vector2{
    inset: 0;
    background-image: url(/public/vector1.png);
    background-repeat: no-repeat;
    transform: scaleX(-1);
}